
.sub{
    box-shadow: inset;
    border: 1rem solid;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
}
#btn{
    background-color:red ;
    color: white;
    width: 10rem;
    font-size: 16px;
    padding: 15px 32px;
    border:solid;
    cursor: pointer;
    transition: width 2s;
    border-radius: 25px;
  border: 2px solid #73AD21;
  transition: (0.1s);
}
#btn:hover{
    box-shadow: 0px 0px 15px #080808;
   
   
}
#btn1{
    background-color:green ;
    color: white;
    width: 10rem;
    font-size: 16px;
    padding: 15px 32px;
    border:solid;
    cursor: pointer;
    transition: width 2s;
    border-radius: 25px;
  border: 2px solid #73AD21;
  transition: (0.1s);
}
#btn1:hover{
    box-shadow: 0px 0px 15px #080808;
   
   
}
#btn2{
    background-color:blue ;
    color: white;
    width: 10rem;
    font-size: 16px;
    padding: 15px 32px;
    border:solid;
    cursor: pointer;
    transition: width 2s;
    border-radius: 25px;
  border: 2px solid #73AD21;
  transition: (0.1s);
}
#btn2:hover{
    box-shadow: 7px 4px 15px #000000;
   
   
}
#btn3{
    background-color:purple ;
    color: white;
    width: 10rem;
    font-size: 16px;
    padding: 15px 32px;
    border:solid;
    cursor: pointer;
    transition: width 2s;
    border-radius: 25px;
  border: 2px solid #73AD21;
  transition: (0.1s);
}
#btn3:hover{
    box-shadow: 0px 0px 15px #080808;
   
   
}